.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1b3f4b;
}
.titulo-header {
  font-size: 75px;
  color: #fff;
  margin: 0;
  justify-content: center;
  margin: 0 auto;
}
main {
  padding: 25px;
  background-color: #ebebeb;
}
#foto {
  display: flex;
  justify-content: center;
}

#foto img {
  width: 780px;
}
nav img {
  width: 150px;
}
#Titulo {
  background-color: darkgray;
  text-align: center;
  padding: 20px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  font-family: sans-serif;
}
footer {
  background-color: #262a2d;
  color: #807c7c;
  margin: 0;
  padding: 10px;
  font-size: 15px;
  border-top: 1px solid #52585b;
}
