nav img {
  width: 150px;
}
#img {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.titulo {
  text-align: center;
}
#tituloh1 {
  font-family: serif;
  font-size: 52px;
}
#titulop {
  font-family: serif;
  font-size: 32px;
}
h3 {
  font-family: sans-serif !important;
  color: #068587 !important;
  font-size: 18px !important;
}
