.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1b3f4b;
}
.titulo-header {
  font-size: 75px;
  color: #fff;
  margin: 0;
  justify-content: center;
  margin: 0 auto;
}
nav img {
  width: 150px;
}
h3 {
  text-align: center;
}
#Pcontent {
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}
aside img {
  width: 95px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#section-car {
  padding: 50px;
}
#section-car p {
  font-size: 18px;
}
#section-car a {
  color: white;
}
footer {
  background-color: #262a2d;
  color: #807c7c;
  margin: 0;
  padding: 10px;
  font-size: 15px;
  border-top: 1px solid #52585b;
}
